:root {
  --primary-text-color: #757575;
  --title-text-color: #212121;
  --akcent-color: #2196f3;
  --background-color: #fff;
  --background-color-section: #2f303a;
  --buttoms-portfolio-background: #f5f4fa;
  --background-main-portf: #e5e5e5;
}
/*основной текст #757575*/
/*вторичный текст #212121 */
/*фон #FFFFFF */
/* цвет акцента #2196F3 */

/* утилиты */
h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
li,
button {
  margin: 0;
  padding: 0;
}
/* класс для сбросса зазора у кнопок */
button {
  display: block;
}
/* класс для сброса маркеров на списке */
ul {
  list-style: none;
}
/* класс для сброса нижнего подчеркивания с ccылок */
a {
  text-decoration: none;
}
/* класс для скрытия заголовков */
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

body {
  background-color: var(--background-color);
  color: var(--primary-text-color);
  font-family: Roboto, sans-serif;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.7;
  letter-spacing: 0.03em;
}

.container {
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
}
header {
  border-bottom: 1px solid #ececec;
}
.header-container {
  display: flex;
  align-items: center;
}
.main-nav {
  display: flex;
  align-items: center;
}

.logo {
  display: block;
  font-family: Raleway;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  color: var(--akcent-color);
}
.logo-color-black {
  color: #000000;
}
.logo:focus,
.logo:hover {
  color: var(--akcennt-color);
}

/* site-nav */
.site-nav .link {
  display: block;
  padding-top: 32px;
  padding-bottom: 32px;
  font-family: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--title-text-color);
}
.site-nav .link:hover,
.site-nav .link:focus {
  color: var(--akcent-color);
}
.site-nav .current {
  color: var(--akcent-color);
}
.site-nav {
  display: flex;
  margin-left: 93px;
}

.site-nav-item:not(:last-child) {
  margin-right: 40px;
}
/* auth-nav */
.auth-nav {
  display: flex;
  margin-left: auto;
}
.auth-nav-item + .auth-nav-item {
  margin-left: 50px;
}
.auth-nav .link {
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--primary-text-color);
}
.auth-nav .link:hover,
.auth-nav .link:focus {
  color: var(--akcent-color);
}

/* section */
.section {
  padding: 94px 0;
}
.section-title {
  margin-bottom: 50px;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  text-align: Center;
  color: var(--title-text-color);
}
/* Герой */
.hero-section {
  padding: 200px 0;
  text-align: center;
  height: 600px;
  max-width: 1600px;
  letter-spacing: 0.06em;

  background-color: var(--background-color-section);
  background-image: linear-gradient(
      to right,
      rgba(47, 48, 58, 0.39),
      rgba(47, 48, 58, 0.39)
    ),
    url(../img/img-hero.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
.hero-title {
  margin: 0 auto;
  margin-bottom: 30px;
  width: 696px;

  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;

  color: var(--background-color);
}

/* преимущества*/
.feature-section {
  outline: 2px solid white;
}
h3 {
  margin-bottom: 10px;
  font-weight: bold;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;

  color: var(--title-text-color);
}
.section .feature-list {
  justify-items: baseline;
  flex-wrap: wrap;
  display: flex;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.7;
}
.feature-list .feature-item {
  margin-right: 30px;
  width: 270px;
}
.feature-list .feature-item:nth-child(4n) {
  margin-right: 0;
}

.team {
  display: flex;
}

.team-item {
  text-align: center;
  margin-right: 30px;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
  background-color: var(--background-color);
}
.team-item:nth-child(4n) {
  margin-right: 0;
}
.padding-container {
  padding: 30px 0;
}

.team-title {
  font-size: 16px;
  line-height: 1.18;
  color: var(--title-text-color);
}
.team-description {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.18;
}
/* кнопка */
.button {
  min-width: 200px;
  margin: 0 auto;
  padding: 10px 32px;
  border-radius: 6px;

  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
  cursor: pointer;

  color: var(--background-color);
  background-color: var(--akcent-color);
}
.button:focus {
  background-color: var(--akcent-color);
}

/* footer */
.footer {
  padding: 60px 0 60px 0;
  background-color: var(--background-color-section);
}
.logo-color-white {
  color: var(--background-color);
}
.link .address-link {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.7;
  cursor: pointer;

  color: var(--background-color);
}

.address-link:hover,
.address-link:focus {
  color: var(--akcent-color);
}
.auth-footer .link {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.7;

  color: rgba(255, 255, 255, 0.6);
}
.auth-footer .link:hover,
.auth-footer .link:focus {
  color: var(--akcent-color);
}
address {
  margin-top: 20px;

  font-style: normal;
}
.address-item {
  margin-bottom: 9px;
}
.address-item:nth-child(3) {
  margin-bottom: 0;
}
/* портфолио */
.site-nav-bottoms {
  justify-content: center;
  display: flex;
  margin-bottom: 50px;
}

.background-background {
  color: var(--background-main-portf);
}
.button-portfolio {
  border: transparent;
  min-width: 73px;
  padding: 6px 22px;
  border-radius: 4px;
  font-size: 16px;
  line-height: 1.6;
  text-align: center;
  cursor: pointer;

  color: var(--title-text-color);
  background-color: var(--buttoms-portfolio-background);
}
.buttom-porfolio-item {
  border-radius: 4px;
  margin-right: 8px;
  background-color: var(--buttoms-portfolio-background);
}
.buttom-porfolio-item:nth-child(5n) {
  margin-right: 0px;
}
.button-portfolio:focus {
  color: var(--background-color);
  background-color: var(--akcent-color);
}
.portfolio-list {
  justify-content: space-between;
  display: flex;
  flex-wrap: wrap;
}
.item-portfolio {
  margin-bottom: 30px;
  min-width: 370px;
  background: #ffffff;
}
.item-portfolio:nth-last-child(-n + 3) {
  margin-bottom: 0;
}

.portfolio-section-title {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;

  color: #212121;
}
.karta-container {
  border-bottom: 1px solid #eeeeee;
  border-right: 1px solid #eeeeee;
  border-left: 1px solid #eeeeee;
  padding: 20px 24px;
}
.product-description {
  margin-top: 4px;
  font-style: Regular;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.8;

  color: var(--primary-text-color);
}
